  <% layout("/layouts/boilerplate.ejs") %>

  <div class="row mt-2">
    <div class="col-8 offset-2">
    <h2>Edit your Listing</h2>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT"  novalidate class="needs-validation" enctype="multipart/form-data">
    <div>
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" id="title" required/>
         <div class="invalid-feedback">
       Title should be valid.
      </div>
    </div>
    
  <div>
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" class="form-control" id="description" required><%=listing.description%></textarea>
    <div class="invalid-feedback">
        description should be valid.
      </div>
  </div>

   <div class="mt-2">
    Original Listing Image <br>
    <img src="<%=originalImageUrl%>" class="listing-img">
   
  </div>

  <div>
    <label for="image" class="form-label">Upload New Image</label>
    <input name="listing[image]" type="file" class="form-control" id="image"/>
   
  </div>

   <div class="row">
    <div class="col-md-4">
    <label for="price" class="form-label">Price</label>
    <input name="listing[price]" value="<%=listing.price%>" type="number" class="form-control" id="price" required/>
     <div class="invalid-feedback">
        Price should be valid.
      </div>
  </div>

  <div class="col-md-8">
    <label for="location" class="form-label">Location</label>
    <input name="listing[location]"value="<%=listing.location%>" type="text" class="form-control" id="location" required/>
    <div class="invalid-feedback">
        location should be valid.
      </div>
  </div>
   
   </div>

  
  <div>
    <label for="country" class="form-label">Country</label>
  <input name="listing[country]" value="<%=listing.country%>" type="text" class="form-control" id="country" required/>
  <div class="invalid-feedback">
        country should be valid.
      </div>
  </div>
    
    <br />

    <button class="btn btn-dark edit-btn">Save</button>

    </form>
    </div>
</div>

